body {
	font-family: var(--vscode-font-family);
}

button, .btn {
	font-family: var(--vscode-font-family);
	background-color: var(--vscode-button-background);
	color: var(--vscode-button-foreground);
	/* border: 1px solid var(--vscode-button-hoverbackground); */
	border: 0;
	outline:0;
	border-radius: 2px;
	padding: 4px 8px;
	-webkit-user-select: none;
}

.btn {
	text-decoration: none;
	cursor: default;
}

button:focus, .btn:focus {
	/** accesibility */
	border: 1px solid var(--vscode-terminal-ansiBrightBlue) !important;
}

button:hover, button:focus, .btn:hover {
	background-color: var(--vscode-button-hoverBackground);
}

button.btn-default {
	background: var(--vscode-editorGroupHeader-tabsBackground);
	color: var(--vscode-editor-foreground);
	border: 1px solid var(--vscode-titleBar-inactiveBackground);
	border-radius: 2px;
	box-sizing: border-box;
	cursor: default;
	outline: none;
	transition: all 200ms ease;
	line-height: 1.5em;
	margin-right: 5px;
	padding: 2px 5px !important;
}

.btn-plain {
	-webkit-appearance: button;
	text-rendering: auto;
	color: buttontext;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: center;
	align-items: flex-start;
	cursor: default;
	background-color: buttonface;
	box-sizing: border-box;
	margin: 0em;
	font: 400 13.3333px Arial;
	padding: 1px 6px;
	border-width: 2px;
	border-style: outset;
	border-color: buttonface;
	border-image: initial;
}

button.btn-default:hover {
	filter: brightness(103%);
}

button.btn-default span {
	font-family: Consolas, 'Courier New', monospace;
	font-size: 1.2em;
	line-height: 1;
}

textarea {
	box-sizing:border-box;
	width: 100%;
	background: var(--vscode-input-background);
	border: 1px solid var(--vscode-input-border);
	color: var(--vscode-input-foreground);
}

.response textarea {
	background: transparent;
}

.optionsLine button {
	background: var(--vscode-tab-inactiveBackground);
	color: var(--vscode-tab-inactiveForeground);
	/* border: 1px solid var(--vscode-activityBar-inactiveForeground); */
	border: 1px solid transparent;
	margin: 0px 2px 0px 0px;
	font-size: 0.9em;
	padding: 3px 6px;
}

.optionsLine button:hover {
	background: var(--vscode-tab-hoverBackground);
}

.optionsLine button.selected {
	background: var(--vscode-tab-activeBackground);
	color: var(--vscode-tab-activeForeground);
	border-bottom: 1px solid var(--vscode-tab-activeBorder);
	border-top: 1px solid var(--vscode-tab-activeBorderTop);
}

.ansiGreen {
	color: var(--vscode-terminal-ansiGreen);
}

.ansiForeground {
	color: var(--vscode-terminal-foreground);
}

#content {
	margin: 5px 5px 50px;
}

.consoleLine {
	line-height: 1.8;
}

.consoleLine .protocol {
	color: var(--vscode-textLink-foreground);
}

.consoleLine .verb {
	color: var(--vscode-terminal-ansiGreen);
}

.consoleLine input {
	background: transparent;
	color: var(--vscode-editor-foreground);
	border: 0;
	outline: 0;
	width: 300px;
}

.consoleLine input:focus {
	border-color: var(--vscode-titleBar-activeBackground) !important;
}

.request .consoleLine input, .request .consoleLine span.stringInput {
	background: var(--vscode-editorGroupHeader-tabsBackground);
	border: 1px solid var(--vscode-titleBar-inactiveBackground);
	border-radius: 2px;
	padding: 6px 25px 3px 5px;
}

.request .consoleLine span.stringInput {
	display: inline-block;
	min-width: 300px;
	padding: 1px 5px 0px 5px;
}

.consoleLine input[type="checkbox"] {
	width: auto;
	vertical-align: text-top;
}

.consoleLine label {
	margin: 0px 10px;
	padding: 3px 5px 3px 3px;
	background: var(--vscode-button-background);
}

.consoleLine button {
	padding: 5px 8px;
	vertical-align: bottom;
}

.optionsLine {
	margin: 0px;
	background: var(--vscode-editorGroupHeader-tabsBackground);
	padding-left: 5px;
}

.optionContent input {
	background: var(--vscode-editorGroupHeader-tabsBackground);
	color: var(--vscode-input-foreground);
	border: 1px solid var(--vscode-titleBar-inactiveBackground);
	outline: 0;
	padding: 5px;
	box-sizing: border-box;
}

.optionContent iframe {
	width: 100%;
	outline: 0;
	border: 0;
	min-height: 300px;
	background: whitesmoke;
}

.optionContent .fileInput label {
	border: 1px solid var(--vscode-titleBar-inactiveBackground);
	background: var(--vscode-editorGroupHeader-tabsBackground);
	padding: 5px 10px;
	display: inline-block;
}

.optionContent .fileInput label span {
	user-select: none;
}

.optionContent .fileInput input[type="file"] {
	visibility: hidden;
}

.request .optionsLine {
	margin-top: 5px;
	border: 1px solid var(--vscode-titleBar-inactiveBackground);
	border-bottom: 0px;
}

.response .optionsLine {
	margin-bottom: 5px;
}

.optionsLine button .count {
	display: inline-block;
	margin-left: 5px;
	font-size: 0.8em;
	padding: 0px 4px;
	border-radius: 6px;
	vertical-align: middle;
	text-align: center;
	color: #ddeefd;
	mix-blend-mode: difference;
}

.request .optionContent {
	padding: 5px;
	padding-top: 10px;
	border: 1px solid var(--vscode-titleBar-inactiveBackground);
	border-top: 0px;
}

.request, .response {
	margin-top: 15px;
}

.response .wrapper {
	border-left: 5px solid var(--vscode-terminal-background);
	box-shadow: -4px 0px 8px #00000085;
	flex-shrink: 1;
	flex-grow: 1;
	overflow: auto;
}

.response.is-success .wrapper {
	border-left: 5px solid var(--vscode-terminal-ansiGreen);
}

.response.is-error .wrapper {
	border-left: 5px solid var(--vscode-terminal-ansiBrightRed);
}

.response .metadata {
	background-color: var(--vscode-textSeparator-foreground);
	padding: 5px 10px;
}

.response textarea.body {
	background-color: var(--vscode-editor-background);
	color: var(--vscode-editor-foreground);
	box-sizing: border-box;
	padding: 2px 5px;
	overflow: scroll;
	height: 100px;
	width: 100%;
	outline: 0;
	border: 0;
}

.response .optionContent {
	margin-left: 5px;
	margin-bottom: 5px;
	padding-top: 10px;
}

.request .var, .response .var {
	color: var(--vscode-titleBar-inactiveForeground);
	width: 50px;
	line-height: 22px;
	font-size: 0.9em;
	flex-shrink: 0;
}

.request, .response {
	display: flex;
}

.prompt, .expansionToggle {
	user-select: none;
}

.request .prompt, .response .prompt {
	width: 15px;
	line-height: 22px;
	flex-shrink: 0;
}

.request .expansionToggle, .response .expansionToggle {
	color: var(--vscode-editorLineNumber-foreground);
	display: inline-block;
	margin-right: 5px;
	border-radius: 25px;
	text-align: center;
	vertical-align: text-bottom;
	font-size: 1em;
	padding: 1px 0px 3px 1px !important;
	width: 18px;
	cursor: pointer;
	line-height: 22px;
	flex-shrink: 0;
}

.is-current .prompt {
	color: var(--vscode-terminal-ansiBrightBlue);
}

.response .consoleLine {
	color: var(--vscode-titleBar-inactiveForeground);
	background: var(--vscode-titleBar-inactiveBackground);
}

.response .consoleLine input {
	color: var(--vscode-editorWidget-foreground);
	width: auto;
	display: inline-block;
	padding: 2px 5px;
}

.response .consoleLine span {
	color: var(--vscode-editorWidget-foreground);
	display: inline-block;
	padding: 2px 5px;
}

.response .consoleLine span.protocol {
	border-right: 1px solid var(--vscode-editorWidget-border);
	padding: 2px 10px 2px 5px;
}

.response .consoleLine span .shortItem-name {
	color: var(--vscode-tab-inactiveForeground);
	padding: 2px 0px;
	font-variant: small-caps;
	text-transform: capitalize;
}

.response .consoleLine span span {
	padding: 2px 4px;
}

.suggestdropdown {
	display: inline-block;
}

.suggestWidget {
	position: absolute;
	background-color: var(--vscode-editorSuggestWidget-background);
	border: 1px solid var(--vscode-editorSuggestWidget-border);
	color: var(--vscode-editorSuggestWidget-foreground);
	box-shadow: 0 0 5px var(--vscode-widget-shadow);
	min-width: 200px;
}

.suggestWidget .suggestItem {
	padding: 2px 10px;
}

.suggestWidget .suggestItem.active, .suggestWidget .suggestItem:hover {
	background-color: var(--vscode-editorSuggestWidget-selectedBackground);
	color: var(--vscode-list-hoverForeground);
}

/** Content */
#content-wrapper {
	padding-top: 20px;
}

/** Top Bar */
#topBar-wrapper {
	position: fixed;
	display: block;
	top: 0px;
	left: 0px;
	width: 100%;
	background-color: var(--vscode-titleBar-activeBackground);
	color: var(--vscode-titleBar-activeForeground);
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
	z-index: 99999999999;
}

#topBar-wrapper button, #topBar-wrapper .btn {
	background-color: var(--vscode-titleBar-activeBackground);
	color: var(--vscode-titleBar-activeForeground);
}

#topBar-wrapper button:hover, #topBar-wrapper button:focus, #topBar-wrapper .btn:hover {
	filter: brightness(1.5);
}

/** dropdown */
.dropdown-root {
	display: inline-block;
}

.dropdown-control {
	background: var(--vscode-editorGroupHeader-tabsBackground);
	border: 1px solid var(--vscode-titleBar-inactiveBackground);
	/* background-color: var(--vscode-dropdown-background);
	color: var(--vscode-dropdown-foreground); */
	border-radius: 2px;
	box-sizing: border-box;
	cursor: default;
	outline: none;
	transition: all 200ms ease;
	line-height: 1.5em;
	margin-right: 5px;
	padding: 2px 5px;
}


.dropdown-menu {
	background-color: var(--vscode-editorSuggestWidget-background);
	border: 1px solid var(--vscode-editorSuggestWidget-border);
	color: var(--vscode-editorSuggestWidget-foreground);
	box-shadow: 0 0 5px var(--vscode-widget-shadow);
	min-width: 200px;
	outline:0;
	padding: 0px;
	box-sizing: border-box;
	max-height: 200px;
	overflow-y: auto;
	position: absolute;
	z-index: 1000;
	-webkit-overflow-scrolling: touch;
}

/* .dropdown-menu .dropdown-group > .dropdown-title{
	padding: 8px 10px;
	color: rgba(51, 51, 51, 1);
	font-weight: bold;
	text-transform: capitalize;
} */

.dropdown-option {
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	padding: 2px 8px;
	font-size: 0.8em;
}

.dropdown-option:last-child {
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}

.dropdown-option:hover, .dropdown-option.is-selected {
	background-color: var(--vscode-editorSuggestWidget-selectedBackground);
	color: var(--vscode-list-hoverForeground);
}

.dropdown-noresults {
	box-sizing: border-box;
	color: var(--vscode-list-hoverForeground);
	cursor: default;
	display: block;
	padding: 8px 10px;
}

.dropdown-control span.dropdown-arrow-wrapper {
	color: var(--vscode-editor-foreground);
	font-size: 1.2em;
	padding: 0 0 0 5px;
}

.dropdown-placeholder {
	display: inline-block;
	min-width: 20px;
}

/** Bytes string input */
.bytesStringInput {
	line-height: 0;
}

.bytesStringInput .bytes-bottomBar {
	background-color: var(--vscode-editorGroupHeader-tabsBackground);
	margin: 0;
}

.bytesStringInput .bytes-bottomBar button {
	background: transparent;
	font-size: 0.8em;
	font-weight: lighter;
	color: var(--vscode-tab-inactiveForeground);
}

.bytesStringInput .bytes-bottomBar button:hover {
	background: var(--vscode-tab-activeBackground);
	color: var(--vscode-tab-activeForeground);
}

/** Table Edit */
.tableEdit thead {
	background: var(--vscode-editorGroupHeader-tabsBackground);
	font-weight: bold;
}

.tableEdit thead td {
	padding: 5px;
}

.tableEdit td {
	border: 1px solid var(--vscode-titleBar-inactiveBackground);
	padding-right: 5px;
	padding-left: 5px;
}

.tableEdit table {
	border-collapse: collapse;
	border-spacing: 1px;
}

.tableEdit .tableEdit-deleteRow button {
	background: transparent;
	font-size: 0.8em;
	cursor: pointer;
	color: var(--vscode-titleBar-inactiveForeground);
}

.tableEdit tr:last-child .tableEdit-deleteRow button {
	visibility: hidden;
}

.tableEdit tr:hover .tableEdit-deleteRow button {
	color: var(--vscode-editor-foreground);
}

.tableEdit tr:hover .tableEdit-deleteRow button:hover {
	color: var(--vscode-terminal-ansiBrightBlue);
}

/** One of many */
.oneOfMany-options {
	margin: 0px 0px 10px;
}

.oneOfMany-options label {
	margin-right: 10px;
	user-select: none;
	cursor: pointer;
}

.oneOfMany-options label:focus-within {
	border: 1px solid var(--vscode-terminal-ansiBrightBlue) !important;
}

.oneOfMany-options label input {
	vertical-align: bottom;
}

/** Form */
div.form .form-item {
	margin: 5px;
}

div.form .form-item > span.form-item-label {
	display: inline-block;
	margin-right: 5px;
	min-width: 150px;
	font-size: 0.9em;
	vertical-align: text-top;
	color: var(--vscode-input-placeholderForeground);
}

/** context menu */
#contextmenu-wrapper {
	position: absolute;
	min-width: 280px;
	background-color: var(--vscode-menu-background);
	color: var(--vscode-menu-foreground);
	border: 1px solid var(--vscode-menu-border);
	box-shadow: var(--vscode-widget-shadow) 0px 2px 4px;
	padding: 8px 0px;
}

#contextmenu-wrapper .menu-item {
	display: block;
	text-align: left;
	background-color: transparent;
	border: none;
	border-radius: 0;
	padding: 4px 25px;
	font-size: 1em;
	user-select: none;
}

#contextmenu-wrapper .menu-item .menu-keybinding {
	float: right;
}

#contextmenu-wrapper .menu-item:hover, #contextmenu-wrapper .menu-item.active {
	background-color: var(--vscode-menu-selectionBackground);
	color: var(--vscode-menu-selectionForeground);
}

/** inline */
.inline .dropdown-control, .inline .bytesStringInput,
.inline .fileInput {
	display: inline-block;
	vertical-align: middle;
}

.optionContent .inline .fileInput input {
	display: inline-block;
	width: 10px;
}

.optionContent .inline .fileInput label {
	padding: 0px 5px;
}

/** scripting */
.stringInput-wrapper {
	position: relative;
	margin-right: 5px;
	line-height: 1.8;
}

.stringInput-wrapper input {
	padding-right: 25px;
}

.stringInput-wrapper.has-function input {
	padding-left: 20px;
}

.stringInput-wrapper span.stringInput {
	word-break: break-all;
	padding: 2px;
	display: inline-block;
}

.stringInput-wrapper.inline {
	margin-right: 0px;
	line-height: 1.5;
}

.stringInput-wrapper.inline input {
	width: 100%;
	border: 0;
	background: var(--vscode-editor-background);
}

.stringInput-wrapper .stringInput-function, .stringInput-wrapper .stringInput-function:focus {
	/* box-sizing: border-box; */
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	border-bottom: 2px solid var(--vscode-statusBar-background) !important;
}

.stringInput-wrapper .stringInput-prompt {
	position: absolute;
	margin-left: 8px;
	margin-top: 1px;
	color: var(--vscode-editor-foreground);
	opacity: 0.6;
}

.stringInput-wrapper .stringInput-code {
	position: absolute;
	margin-left: -14px;
	margin-top: 1px;
	cursor: pointer;
	user-select: none;
	opacity: 0.6;
}

.stringInput-wrapper .stringInput-code:hover {
	opacity: 1;
}

.stringInput-wrapper.has-function .stringInput-code {
	font-weight: 900;
	color: var(--vscode-terminal-ansiBrightBlue);
	opacity: 1;
}

.stringInput-wrapper .stringInput-preview {
	background: var(--vscode-statusBar-background);
	color: var(--vscode-statusBar-foreground);
	display: inline-block;
	min-height: 18px;
	position: absolute;
	margin-top: 25px;
	margin-left: -100%;
	width: 100%;
	z-index: 2;
	line-height: 1;
	padding: 4px 2px 5px 5px;
	box-sizing: border-box;
	font-size: 0.9em;
	line-height: 0.9;
}

.stringInput-wrapper .stringInput-preview > span {
	display: inline-block;
	margin-right: 5px;
	opacity: 0.7;
	font-size: 0.8em;
}

.stringInput-wrapper .stringInput-preview .objectInput {
	opacity: 1;
	font-size: 1em;
	line-height: 1.5;
}

/** Object input */
.objectInput > span {
	color: var(--vscode-titleBar-inactiveForeground);
}

.objectInput-string {
	color: var(--vscode-debugTokenExpression-string);
}

.objectInput-number {
	color: var(--vscode-debugTokenExpression-number);
}

.objectInput-key {
	color: var(--vscode-debugTokenExpression-name);
}

.objectInput-separator {
	margin-right: 5px;
}

.objectInput div {
	margin-left: 20px;
}

.objectInput .expansionToggle {
	padding: 0 !important;
}
